.card-title {
    width: 100%;
    text-align: left;
    color: #3f4242;
    font-size: 15x;
    border-bottom: 2px solid #0074d9;
}

.card-body {
    text-align: left;
    color: #3f4242;
    font-size: 15x;
}

.card {
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    margin-left: 0;
    border-left: 0;
    position: relative;
    justify-content:center
  }

  .container {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .text-area {
      max-width: 60%;
      position: center;
  }